body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1f494d;
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(118, 6, 6, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 2em;
}

#projects h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
    text-align: center;
    color: #444;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5em;
    width: calc(30% - 2em);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    margin-top: 0;
    color: #333;
}

.project-card p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.project-card a {
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 0.5em 1em;
    display: inline-block;
    margin-right: 0.5em;
    transition: background-color 0.3s, color 0.3s;
}

.project-card a:hover {
    background-color: #007bff;
    color: #fff;
}

footer {
    text-align: center;
    padding: 1.5em 0;
    background: #1f494d;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.profile{
    color: #ddd;
}